.container {
  padding-top: 10rem;
  width: 420px;
  margin: 0 auto;
  align-items: center;
}

.container,
.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form {
  width: 100%;
}

.logo {
  height: 75px;
}

.error {
  width: 100%;
  padding: 0.6rem;
  border-radius: var(--border-radius-small);
  border: none;
  background-color: var(--error-color);
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--secondary-color);
  cursor: pointer;
  text-align: center;
}
