.container {
  display: flex;
  padding-top: 1rem;
  gap: 1rem;
}

.like,
.comment {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.like {
  background-color: var(--button-active-color);
  color: var(--secondary-color);
}

.like.liked {
  background-color: var(--button-active-color);
  color: var(--ternary-color);
}

.like.not_liked {
  background-color: var(--gray-color);
  color: var(--secondary-color);
}

.liked:hover {
  background-color: var(--button-active-hover-color);
  color: var(--ternary-color);
}

.comment {
  background-color: var(--gray-color);
  color: var(--secondary-color);
}

.comment:hover,
.not_liked:hover {
  background-color: var(--gray-color-hover-color);
  color: var(--ternary-color);
}

.like span,
.comment span {
  font-size: 1.6rem;
}
