.button {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: none !important;
  border: none;
  color: var(--error-color);
  cursor: pointer;
}

.button span {
  font-weight: 500;
  font-size: 1.6rem;
}

@media (max-width: 1000px) {
  .button {
    justify-content: center;
    align-self: center;
    padding: 1rem 0;
  }
}
