.button_container {
  display: flex;
  align-self:self-end;
  width: var(--comment-width);
  gap: 1rem;
}

.button_container button {
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.6rem;
}

.button_container,
.button_container button {
  color: var(--error-color);
}