.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-small);
  width: 100%;
  margin-bottom: 1.5rem;
}

.play_icon,
.pause_icon,
.stop_icon {
  margin: 2rem;
  width: 40px;
  cursor: pointer;
  display: flex;
  height: 100%;
}

.play_icon {
  color: var(--main-color);
}

.pause_icon,
.stop_icon {
  color: var(--error-color);
}

.range {
  height: 58px;
  -webkit-appearance: none;
  appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: var(--secondary-color);
}


.range::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  border-radius: 0px;
  border: 1px solid var(--border-color);
}

.range::-webkit-slider-thumb {
  border: 1px solid var(--error-color);
  height: 50px;
  width: 1px;
  -webkit-appearance: none;
  margin-top: -25.5px;
}

.range.recording::-webkit-slider-thumb {
  border: none;
}


.audio_container {
  width: 100%;
  position: relative;
}

.audio_visualiser {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: red; */
}


.duration_container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
  font-weight: 400;
  font-size: 1.5rem;
}
