.container {
  padding: 1rem;
  background-color: var(--ternary-color);
  border-radius: 10px;
}

.image_container {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.text {
  font-weight: 400;
  font-size: 1.5rem;
}

.text_container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  font-size: 1.6rem;
  
}






