.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1rem;
  border-radius: 10px;
  background-color: var(--ternary-color);
  margin-bottom: 5rem;
}

.text {
  display: flex;
  gap: 2rem;
  padding-bottom: 1rem;
}

.picture {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 9999px;
}

.status {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.form {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--gray-color);
  width: 100%;
}

.microphone_container {
  display: flex;
  justify-content: space-between;
  padding-left: 7.5rem;
  align-items: center;
}

.microphone {
  display: flex;
  align-items: center;
  transition: background-color 0.2s;
}

.record_audio {
  display: none;
}

.microphone_icon {
  cursor: pointer;
  color: var(--button-active-color);
}

.microphone_icon:hover {
  color: var(--button-active-hover-color);
}

.new_post_button {
  border: none;
  padding: 1rem 2rem;
  border-radius: var(--border-radius-medium);
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--gray-color);
  color: var(--secondary-color);
  transition: background-color 0.2s;
}

button:hover {
  background-color: var(--gray-color-hover-color);
}

@media (max-width: 1000px) {
  .container {
    padding: 1rem;
  }

  .microphone_container {
    justify-content: baseline;
    padding: 0;
    flex-direction: column;
    gap: 1rem;
  }

  .microphone {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    padding: 1rem;
    border-radius: var(--border-radius-medium);
    background-color: var(--main-color);
  }

  .microphone:hover {
    background-color: var(--button-active-color);
  }

  .microphone_icon {
    color: var(--secondary-color);
  }

  .microphone_icon:hover {
    color: var(--secondary-color);
  }

  .record_audio {
    display: block;
    font-size: 1.6rem;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, 50%);
    color: var(--secondary-color);
    cursor: pointer;
  }

  .new_post_button {
    width: 100%;
    font-size: 1.6rem;
  }
}
