* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #49dea5;
  --secondary-color: #f8fafc;
  --ternary-color: #f1f5f9;
  --gray-color: #94a3b8;
  --gray-color-hover-color: #687281;
  --button-active-color: #42c895;
  --button-active-hover-color: #3bb486;
  --error-color: #ef4444;
  --border-color: #cbd5e1;
  --overlay-color:rgba(128, 128, 128, 0.8);
  --border-radius-small: 0.6rem;
  --border-radius-medium: 1.2rem;
  --comment-width:115px;

  --breakpoint-lg:1000px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color);
}

p{
  font-size: 1.6rem;
  font-weight: 400;
}


