.container {
  width: 15%;
  height: 250px;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.image_container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: end;
}

.profile_image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 9999px;
  cursor: pointer;
}

.visible,
.not_visible {
  position: absolute;
  top: 80px;
  right: 0;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  background-color: var(--ternary-color);
  border-radius: var(--border-radius-medium);
  transform-origin: top-right;
  transition: all 0.2s ease-in-out;
  font-size: 1.6rem;
  overflow: hidden;
}

.visible {
  width: 170px;
  height: 100px;
  padding: 1rem;
}

.not_visible {
  padding: 0;
  width: 0px;
  height: 0px;
}

.profile_div,
.log_out {
  width: 100%;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius-medium);
  cursor: pointer;
}

.profile_div:hover,
.log_out:hover {
  background-color: var(--gray-color);
}

.profile_icon,
.log_out_icon {
  color: var(--main-color);
  width: 25px;
  height: 25px;
}

@media (max-width: 1000px) {
  .container {
    position: absolute;
    top: 0;
    right: 0;
  }

  .profile_image {
    width: 45px;
    height: 45px;
  }

  .visible {
    position: absolute;
    top: 70px;
    right: 20px;
  }
}
